<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WordConverter_v2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WindowsFormsApplication4.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyContextPostgres" connectionString="Server=localhost; Port=5433; User Id=postgres;Password=postgres;Database=WordConverter" providerName="Npgsql" />
    <add name="MyContextSqlite" connectionString="Data Source=C:\単語ツール\WordConverter_v2\WindowsFormsApplication4\bin\Debug\WordConverter_v2.db;foreign keys=true;" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <WordConverter_v2.Settings1>
      <setting name="UserId" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="Pascal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Camel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Snake" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DispNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HotKey" serializeAs="String">
        <value>Ctrl + Q</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="DbUserId" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="DbPassword" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="DbPortNo" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="FukusuRiyou" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KojinRiyou" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqliteContextString" serializeAs="String">
        <value />
      </setting>
    </WordConverter_v2.Settings1>
  </userSettings>
</configuration>